body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar-container a {
  text-decoration: none;
  color: white;
}

.sidebar-container a:hover {
  color: #0d6efd;
}

/* Keep sidebar visible on desktop */
@media (min-width: 768px) {
  .sidebar-container {
    transform: translateX(0) !important;
  }
}


